/* 4 setup haut de page */
:root {
    /* Bleu outre mer OUR MAIN COLOR */
    --main-color:#050194; 
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 100px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    /* padiing de la navbar */
    padding-top: var(--nav-height);
}
/* a effacer */
a {
    text-decoration: none;
    color: unset;
}
/* Reglages de la taille de l'image */
img {
    max-width: 100%; 


}
/* il s'agit du main color crer dans le root */
.main-color {
    color: var(--main-color);
}

/* 6 Disposition */

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}


/* Le overlay. Surcouche pour que les titres puissent POP */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    /* le align itmes qui me les centrer verticalement */
    align-items: center;
       /* le space beetwen qui me gere l'autolayout dans ma frame qui est la nav */
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}


.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}
/* REGLAGES BOUTON*/
.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    font-size: 1.25rem;
    display: inline-flex;
    position: relative;
    align-items: center;
    background-color: var(--main-color);
    width: 10rem;
    height: 55px;
    border-radius: 15px;;
    
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

/* fin reglages bouton */

/* hero silde item */


.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

/*  pour faire apparaitre l'image du Hero */

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* Contenu du Hero */

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}
/* le fameux overlay HERO de gauche*/
.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* le fameux overlay HERO de gauche*/

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/* Reglage Font Police Titre Videos Hero 
A la une */

.item-content-title {
    font-size: 5rem;
    line-height: 4rem;
    font-weight: 400;
}

/* Movie InfoRessere le bloc de texte de descrition de la video */
.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

/* Reglages de la taille des tags */
.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}
/* espacement entre etoile et note */
.movie-info span {
    margin-left: 5px;
}
/* couleur pour les etoiles */
.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}
/* Gestion de la Font de description du Hero. Video à la une */
.item-content-description {
    
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

    margin-top: var(--space-top);
    line-height: 1.9rem;
}
/* Element du owl carrousel Next Previous  */
.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

/* fin reglages du owl */


/* Facultatif animation du titre */
/* Animation du titre de la video 
Titre item ::contentmovie .movie-infodescription
item action*/
.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

/* element declecheur pour animation des titres
Sans les titres et descritpion de la partie hero ne seront tous simplement pas visible */
.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/* fin animation titre de la video */


/* padding du texte des vignettes par rapport aux videos */
.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 56%;
    cursor: pointer;
}


/* afin d'avoir mes affiches epousant le bord de la boite hero */
.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}
/* Effet zoom sur image */
.movie-item:hover img {
    transform: scale(1.2);
}

/* Derriere les titres des videos */
.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
/* Zone noire derriere descriptions video*/
.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* edition des font de la description du film */
.movie-item-title {
    color: var(--text-color);
    font-size: 1.6rem;
    position: relative;
    font-weight: 500;
}

.section {
    padding-top: 80px;
}

.covidsection{
    padding-top: 20px;
}


/* Section  header*
Pour gerer le titre des categories*/
.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}



footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: white;
}

footer a:hover {
    color: var(--main-color);
}
/* MODAL */

.button{
    background: coral;
    padding: 1em 2em;
    color: white;
    border: 0;
}

.button:hover{
    background: #333;
}

/* Partie Modal */
.modal{

    
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* l'ombre overlay. Le réglage de l'opacité est la dernière valeur de la parenthese */
    background-color: rgba( 0,0, 0, 0.7);
}

/* Gestion de la taille de la modale */
.modal-content {
    background-color: #000000;
    border-radius: 10px;
    margin: 1% auto;
   
    /* mon width qui gere la largeur de ma modal */
    width: 44%;
    height: 95%;
    /* l ombre de ma modal */
    box-shadow: 0 5px 8px 0 rgba( 0,0, 0, 0.2);
}

/* reglages pour le bouton de fermeture */

.closeBtn{
    color: #ccc;
    /* Choix de son côté */
    float: right;
    font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{

    color: rgb(29, 29, 29);
    text-decoration: none;
    cursor: pointer;
}


.photo_modal{
    

    border-radius: 14px;
   
}

.film-modal-title{
    padding: 0.8em 0 0 0.8em;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 28px;
}

#simpleModal .movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 17px;
}

.item-content-description.modal-description{
    padding: 1.1em 0 0 1.1em;
    margin: 0;
    font-weight: 400;
}

.btn.btn-hover.btn-modal{

    top: -6em;
    left: 5%;
    
}



.discover {
    font-size: 20px;
    line-height: 40px;
    display: flex;
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    justify-content: flex-end; 
}


.boutton_x_modal_responsive {
    display: none;       
 }

/* *************************************************************************************** */
/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }
    /* va sizer le hero sur la largeur pour telephone */
    .hero-slide-item-content {
        position: relative;
    }
    /* va sizer le hero sur la hauteur */
    .hero-slide-item img {
        height: 100%;
    }
    /* resize le titre */

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    .modal-content{
        background:rgb(2,0,36);
    }
    .modal-content {
        background-color: black;
        border-radius: 10px;
        margin: 1% auto;
        height: 95%;
        width: auto;    
        box-shadow: 0 5px 8px 0 rgba( 0,0, 0, 0.2);
    }
    .modal{

    
        display: none;
    
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        /* l'ombre overlay. Le réglage de l'opacité est la dernière valeur de la parenthese */
        background-color: rgba( 0,0, 0, 0.7);
        
    }

    .btn {
        color: #ffffff;
        padding: 0.25rem 1.5rem;
        font-size: 1.25rem;
        display: inline-flex;
        position: relative;
        align-items: center;
        background-color: var(--main-color);
        border-radius: 15px;;
        
    }

    .boutton_x_modal_responsive {
        display: block;
        position: absolute;
        font-size: 24px;
        right: 1em;
        color: #ccc;        
     }


}
